<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Markdown Blog</title>
  </head>
  <body>
    <div class="container-div">
      <%- include('_Navbar.ejs') %>
      <section class="content">
        <h2>Blogs</h2>
        <div class="blog-content">
          <% blogs.forEach(blog => { %>
          <a class="blog-card" href="/blogs/<%=blog.id%>">
            <h4><%= blog.title %></h4>
            <p><%= blog.body %></p>
            <p><code><%=blog.author%></code></p>
          </a>
          <% }) %>
        </div>
      </section>
    </div>
  </body>
</html>
